@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #002b36;
  --color-foreground: #839496;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #002b36;
    --color-foreground: #839496;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
}
